.project__container {
  height: 100%;
}

.not-selected {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__header {
  display: flex;
  flex-direction: column;
}

.project__header h5 {
  margin: 0 0 5px 0;
}

.selected {
  display: flex;
  flex-direction: column;
}

.selected div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project__header span {
  font-weight: bold;
}