<ng-template #project>
  <div class="selected">
    <div>
      <div class="project__header">
        <h5>{{currentProject?.name}}</h5>
        <span>
          total files: {{projectCount}}
        </span>
      </div>
      
      <div>
        <app-file-upload [currentProject]="currentProject"></app-file-upload>
      </div>
    </div>
    <div>
      <app-search [currentProject]="currentProject"></app-search>
    </div>
  </div>
</ng-template>
<ng-template #noProject>
  <div class="not-selected">
    <h3>No project has been selected</h3>
  </div>
</ng-template>

<div class="project__container">
  <ng-container *ngTemplateOutlet="currentProject ? project : noProject"></ng-container>
</div>
