.header, .project_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_name {
  margin: 5px;
  justify-content: flex-end;
}

.project_name button {
  margin-left: 5px;
}

nb-list-item {
  cursor: pointer;
}

nb-list-item:hover {
  background-color: #4e70d4;
}

.null_project {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .project_button {
    display: none;
  }
}