<nb-layout>
  <nb-layout-column>
    <div class="dashboard__container">
      <ng-container 
        *ngTemplateOutlet="(breakPointService.isLargeScreen$ | async) ? largeScreen : smallScreen">
      </ng-container>
      <div
        [ngStyle]="(breakPointService.isLargeScreen$ | async) ? {'width': '60%'} : {'width': '100%'}"
        class="view">
        <div class="icon" *ngIf="(breakPointService.isSmallScreen$ | async)">
          <button nbButton (click)="toogle()">
            <nb-icon icon="menu-outline"></nb-icon>
          </button>
        </div>
        <div>
          <app-view></app-view>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>

<ng-template #smallScreen>
  <nb-sidebar state="collapsed" fixed>
    <app-project></app-project>
  </nb-sidebar>
</ng-template>

<ng-template #largeScreen>
  <div
    [ngStyle]="(breakPointService.isLargeScreen$ | async) ? {'width': '35%'} : {'width': '0%'}"  
  >
    <app-project></app-project>
  </div>
</ng-template>
