<div>
  <div class="search_bar">
    <input [(ngModel)]="searchKeyWord" type="text" nbInput fullWidth placeholder="type code text e.g import">
    <button (click)="search()" nbButton>Search</button>
  </div>
  <div [nbSpinner]="searching" class="search_list">
    <div *ngFor="let project of searchedValues">
      <div>
        <nb-card *ngFor="let codeline of project.values">
          <nb-card-header>{{project.name}}</nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item *ngFor="let text of codeline">
                <span class="line_number">
                  {{text.lineNumber}}.
                </span>
                <span class="text">
                  {{text.text}}
                </span>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div *ngIf="!searching && !searchedValues.length" class="null_list">
    <h5>No Search result found yet 🤷‍♂️</h5>
  </div>
</div>
