.search_bar {
  display: flex;
  margin-bottom: 30px;
}

.search_bar button {
  margin-left: 10px;
}

.search_list {
  min-height: 10vh;
}

.null_list {
  display: flex;
  justify-content: center;
}

nb-list-item {
  display: flex;
  align-items: center;
}

.line_number {
  margin-right: 10px;
}

nb-card-header {
  border-bottom: 0px;
}